# 多资产训练

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_parquet(r'D:\home\work\seafile_root\王彦龙\我的资料库\私人资料库\A股日频量价数据集\Astock_daily_2011_2022.parquet.gzip')

In [7]:
data1 = data.iloc[:,[2]]

In [11]:
data1.to_numpy()

array([[16.02],
       [ 8.8 ],
       [ 3.75],
       ...,
       [75.96],
       [45.71],
       [43.39]])

In [14]:
np.log(data1)

                         close
date       code
2011-01-04 000001.SZ  2.773838
           000002.SZ  2.174752
           000005.SZ  1.321756
           000006.SZ  1.983756
           000009.SZ  2.829678
...                        ...
2022-04-01 688599.SH  4.092677
           688600.SH  2.660260
           688788.SH  4.330207
           688981.SH  3.822317
           689009.SH  3.770229

[8157488 rows x 1 columns]